@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background4.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    /* font-family: 'Your Preferred Font', sans-serif;  Add your preferred font family */
    /* Add other styles you want for your body */
}
html {
    scroll-behavior: smooth;
} 

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  
.skip a {
    position: absolute;
    top: -40px;
}
  
.skip a:focus { 
    top: 20px;
}

.navbar {
    flex-direction: column;
    align-items: center;
}

.navbar ul {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.navbar a {
    margin: 5px 0;
    display: block;
    width: 100%;
    text-align: center;
}

.navbar .dropdown {
    display: none;
}

.navbar .menu-icon {
    display: block;
    cursor: pointer;
}

.navbar .menu-icon i {
    font-size: 24px;
}

.navbar.responsive .dropdown {
    display: block;
}

.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Add an icon for the menu */
.menu-icon {
    display: none;
}

.navbar a.current,
.navbar a:hover {
        border-color: rgba(162, 0, 255, 0.3); /* Add this line to change the border color on hover */
        padding: 8px 13px;
        background-color: rgba(162, 0, 255, 0.3);
}

.navbar a {
    border-color: rgba(162, 0, 255, 0.3); /* Add this line to change the border color on hover */
    padding: 8px 13px;
    background-color: rgba(210, 132, 255, 0.3);
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 10px 15px;
}

.logo {
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}
@media only screen and (min-width: 500px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .navbar ul {
        display: flex;
        list-style: none;
    }
    .navbar a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 10px 15px;
    }
    .logo {
        font-size: 25px;
        color:white;
        text-decoration: none;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1000px) {
    .navbar a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 10px 15px;
    }
    .logo {
        font-size: 25px;
        color:white;
        text-decoration: none;
        font-weight: 600;
    }
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.logo:hover {
    color: rgb(210, 132, 255); /* Change to the color you desire on hover */
}

section {
    min-height: 100vh;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
}

section.home {
    padding: 5rem 9% 10rem; /* Adjust the bottom padding as needed */
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.0rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px white;
}

.home-content p {
    font-size: 1.3rem;
    margin: 2rem 0 2rem;
    justify-content: space-between;
    width: 34.5rem;
    height: auto;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    /* background: rgb(210, 132, 255); */
    border: .2rem solid rgb(210, 132, 255);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-top: 1rem;
    background: rgba(210, 132, 255, 0.381);
}


.btn-box .btn:nth-child(2) {
    background: rgba(210, 132, 255, 0.381);
    color: white;
}

.btn-box .btn:nth-child(2)::before {
    background: rgb(210, 132, 255);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(210, 132, 255);
    color: white;
    z-index: -1;
    transition: .5s;
}


.btn-box .btn:hover::before {
    width: 100%;
}



.home-sci {
    position: absolute;
    bottom: 0;
    width: 170px;
    display: flex;
    justify-content: space-between; 
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid rgb(210, 132, 255);
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s; 
}

.home-sci a::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(210, 132, 255);
    z-index: -1;  
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.contact h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 40rem;
    margin: 0 auto;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width:100%;
    padding: 18px;
    background: rgba(0, 0, 0, 0.081);
    border: .15rem solid white;
    outline: none;
    border-radius: .6rem;
    font-size: 16px;
    color: white;
    margin: 12px 0;
}

.field.error .item {
    border-color: red;
}

.field .item::placeholder {
    color: white;
}

.field .error-txt {
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 1.5rem 3.8rem;
    background:rgb(210, 132, 255);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 9px rgb(210, 132, 255);
    color: white;
    font-size: 1.0rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 5px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

footer {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.335);
    text-align: center;
}

.social-media a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-media i {
    transition: color 0.3s ease;
}

.social-media a:hover i {
    color: #0077b5; /* Change to the color you desire on hover */
}

.project-box {
    display: flex;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.381);
    border-radius: .6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-image {
    flex: 1;
    max-width: 25%;
    overflow: hidden;
    border-top-left-radius: .6rem; /* Adjust the border radius as needed */
    border-bottom-left-radius: .6rem;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project-description {
    flex: 3;
    padding: 20px;
    color: rgba(49, 49, 49, 0.704);
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-details {
    font-size: 1.2rem; 
    line-height: 1.5; 
}

.project-details li {
    margin-top: 20px;
    padding: 10px;
}

.project-box:hover {
    background-color: rgba(255, 255, 255, 0.6); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px);
}

@media (prefers-reduced-motion: reduce) {
    
    .skip a, .navbar a, .logo, .btn-box .btn::before, .home-sci a::before, form button, .project-box:hover {
      transition: none !important;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding: 5px; /* Adjust as needed */
    }

    .header {
        padding: 10px; /* Adjust as needed */
    }

    .logo {
        font-size: 18px;
    }

    .home {
        padding: 0 5%; /* Adjust as needed */
    }

    .home-content h1 {
        font-size: 4rem; /* Adjust as needed */
    }

    .home-content .text-animate h3 {
        font-size: 2rem; /* Adjust as needed */
    }

    .home-content p {
        font-size: 1rem; /* Adjust as needed */
        padding: 5px; /* Adjust as needed */
    }
  
    .btn-box,
    .btn-box .btn {
      width: 100%; /* Ensure full width for buttons */
      margin: 10px 0; /* Adjust margin for better spacing */
    }
  
    .contact form {
        display: flex;
        width: 100%; 
        flex-direction: column;
        align-items: center;
    }

    .contact form button {
        align-items: center;
        margin-top: 20px; 
    }
  
    form .input-box .input-field {
      width: 100%; 
    }
  
    footer {
      padding: 10px; 
    }
  
    .project-box {
      flex-direction: column; 
      margin: 10px 10px; 
    }
  
    .project-image {
      max-width: 100%;
      border-top-right-radius: .6rem;
      border-bottom-right-radius: .6rem;
    }
  
    .project-description {
      padding: 10px; 
    }
  
    .project-title {
      font-size: 1.5rem; 
    }
  
    .project-details {
      font-size: 1rem; 
    }
  }
  